.track{
    /* display:flex;
    justify-content:space-between; */
    display:grid;
    grid-template-columns: 40px repeat(2,1fr) 40px 1fr;
    column-gap: 2rem ;
    padding: 1rem 1.5rem; 
    width:100%;
    background:transparent;
    margin-bottom: 0.5rem;
    border-radius: 12px;
    align-items:center;
    cursor:pointer;   
}
.track div {
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left; 
    color: var(--main-color)
}
.track.active{
    background-color: var(--background-white);
    -webkit-box-shadow: -2px 26px 57px -14px rgba(224, 224, 224, 1);
    -moz-box-shadow: -2px 26px 57px -14px rgba(224, 224, 224, 1);
    box-shadow: -2px 26px 57px -14px rgba(224, 224, 224, 1);
}
.track:hover{
    background-color: var(--background-gray);
    filter: brightness(104%);
}